click==7.1.2
ConfigArgParse==1.2.3
Cython==0.29.17
editdistance==0.5.3
h5features @ git+https://github.com/bootphon/h5features.git@dd2e0ef6dc303e3aa82dca87ef45c784ec69d29f
h5py==2.10.0
intervaltree==3.0.2
joblib==0.14.1
nltk==3.5
numexpr==2.7.1
numpy==1.18.4
pandas==1.0.3
Pillow==8.1.1
#pkg-resources==0.0.0
python-dateutil==2.8.1
python-Levenshtein==0.12.0
pytz==2020.1
PyYAML==5.3.1
regex==2020.4.4
scikit-learn==0.22.1
scipy==1.4.1
six==1.14.0
sortedcontainers==2.1.0
tables==3.6.1
tdev2 @ git+https://github.com/bootphon/tdev2.git@a72467faf209a4f4ee90e81406a07dbfebe51e00
torch==1.8.1
torchvision==0.4.0
traitlets==4.3.3
tqdm==4.46.0
wandb==0.10.10
wcwidth==0.1.9
git+https://github.com/gchrupala/ursa#egg=ursa
soundfile==0.10.3.post1
